* {
    margin: 0;
    padding: 0;
}

.section {
    height: 100vh;
}

.section0 {background-color: #bbdefb;}
.section1 {background-color: #90caf9;}
.section2 {background-color: #64b5f6;}
.section3 {background-color: #42a5f5;}
.section4 {background-color: #2196f3;}
.section5 {background-color: #1e88e5;}
.section6 {background-color: #1976d2;}
.section7 {background-color: #1565c0;}
.section8 {background-color: #0d47a1;}
.section9 {background-color: #1565c0;}
.section10 {background-color: #1976d2;}
.section11 {background-color: #1e88e5;}
.section12 {background-color: #2196f3;}
.section13 {background-color: #42a5f5;}
.section14 {background-color: #64b5f6;}
.section15 {background-color: #90caf9;}
.section16 {background-color: #bbdefb;}
.section17 {background-color: #90caf9;}
.section18 {background-color: #64b5f6;}
.section19 {background-color: #42a5f5;}
.section20 {background-color: #2196f3;}
.section21 {background-color: #1e88e5;}
.section22 {background-color: #1976d2;}

#sullivanLogoImg {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;
}

div.imgContainer {
    display: flex;
    width: 40rem;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

div.middleBigTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-family: 'Nanum Square', sans-serif;
    color: white;
    text-align: center;

    a {
        text-decoration: none;
        color: white;
    }

    h1 {
        font-size: 6.5rem;
        margin: 0.5rem;
    }

    h2 {
        font-size: 3.5rem;
        margin: 0.5rem;
    }

    h3 {
        font-size: 2rem;
        margin-left: 0.5rem;
    }

    .marginText {
        margin: 2rem 0;
    }

    .underLineText::after {
        content: '';
        width: 4.5rem;
        border-bottom: 4px solid white;
        display: block;
        margin-top: 0.2rem;
    }

    p.littleText {
        font-size: 2rem;
    }

    div.blankDiv {
        height: 4rem;
    }

    div.sideLineDiv {
        width: 80rem;
        height: 1rem;
        margin: 3rem 0;
        background-color: white;
    }

    span.bigTitle {
        font-size: 6rem;
        margin: 2rem;
    }

    h2#tableOfContent {
        line-height: 5rem;
    }

    code {
        display: flex;
        text-align: left;
        font-family: inherit;
    }

    .icon {
       font-size: 20rem;
    }

    .nextIcon {
        margin: 3rem;
    }
    //굳
}
