* {
    margin: 0;
    padding: 0;
}

.button-ex {
    width: 18rem;
    height: 8rem;
    background-color: white;
    color: #4e98ff;
    border: 0.9rem solid #4e98ff;
    border-radius: 5rem;
    font-size: 2.3rem;
    font-weight: 700;
    transition: 300ms;
}

.button-ex:hover {
    background-color: #4e98ff;
    color: white;
}

.button-ex:active {
    border-color: #0d47a1;
    background-color: #0d47a1;
}