* {
  margin: 0;
  padding: 0; }

.section {
  height: 100vh; }

.section0 {
  background-color: #ffebee; }

.section1 {
  background-color: #ffcdd2; }

.section2 {
  background-color: #ef9a9a; }

.section3 {
  background-color: #e57373; }

.section4 {
  background-color: #ef5350; }

.section5 {
  background-color: #f44336; }

.section6 {
  background-color: #e53935; }

.section7 {
  background-color: #d32f2f; }

.section8 {
  background-color: #c62828; }

.section9 {
  background-color: #b71c1c; }

.section10 {
  background-color: #c62828; }

.section11 {
  background-color: #d32f2f; }

.section12 {
  background-color: #e53935; }

.section13 {
  background-color: #f44336; }

.section14 {
  background-color: #ef5350; }

.section15 {
  background-color: #e57373; }

.section16 {
  background-color: #ef9a9a; }

.section17 {
  background-color: #ffcdd2; }

.section18 {
  background-color: #ffebee; }

.section19 {
  background-color: ; }

.section20 {
  background-color: ; }

.section21 {
  background-color: ; }

.section22 {
  background-color: ; }

#sullivanLogoImg {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100px; }

div.imgContainer {
  display: flex;
  width: 40rem;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 1rem; }

div.middleBigTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: 'Nanum Square', sans-serif;
  color: white;
  text-align: center; }
  div.middleBigTitle a {
    text-decoration: none;
    color: white; }
  div.middleBigTitle h1 {
    font-size: 6.5rem;
    margin: 0.5rem; }
  div.middleBigTitle h2 {
    font-size: 3.5rem;
    margin: 0.5rem; }
  div.middleBigTitle h3 {
    font-size: 2rem;
    margin-left: 0.5rem; }
  div.middleBigTitle .marginText {
    margin: 2rem 0; }
  div.middleBigTitle .underLineText::after {
    content: '';
    width: 4.5rem;
    border-bottom: 4px solid white;
    display: block;
    margin-top: 0.2rem; }
  div.middleBigTitle p.littleText {
    font-size: 2rem; }
  div.middleBigTitle div.blankDiv {
    height: 4rem; }
  div.middleBigTitle div.sideLineDiv {
    width: 80rem;
    height: 1rem;
    margin: 3rem 0;
    background-color: white; }
  div.middleBigTitle span.bigTitle {
    font-size: 6rem;
    margin: 2rem; }
  div.middleBigTitle h2#tableOfContent {
    line-height: 5rem; }
  div.middleBigTitle code {
    display: flex;
    text-align: left;
    font-family: inherit; }
  div.middleBigTitle .icon {
    font-size: 20rem; }
  div.middleBigTitle .nextIcon {
    margin: 3rem; }

  .wrapper {
  display: grid;
  width: 20rem;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid #f76707;
  background-color: #fff4e6;
}
.wrapper-2 > div {
  border: 2px solid #ffa94d;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}


.wrapper > div {
  border: 2px solid #ffa94d;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}

.nested {
  border: 2px solid #ffec99;
  background-color: #fff9db;
  padding: 1em;
}

.tempImage {
  width: 30rem;
}
